li {
        padding: 10px;
        list-style: none;
        float: left;
        margin-top: -30px;
        position: relative;
      

      }

 li:hover::after {
          border-bottom: 2px solid rgb(0, 254, 249);
          cursor: pointer;
          width: 100%;
          transition: width 0.5s;
        }

li::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          border-bottom: 0px solid rgb(0, 254, 249);
          transition: width 0.3s;
        }

.current {
  border-bottom: 1px solid rgb(245, 132, 11);
}
